<div class="container">
  <h2 class="heading heading-sec heading-sec__mb-med">
    <span class="heading-sec__main">About Me</span>
    <span class="heading-sec__sub">
      Here you will find more information about me, what I do, and my current
      skills mostly in terms of programming and technology.
    </span>
  </h2>
  <div class="about__content">
    <div class="about__content-main">
      <h3 class="about__content-title">Get to know me!</h3>
      <div class="about__content-details">
        <p class="about__content-details-para">
          I'm a <strong>Full-Stack Java Developer</strong> building the back-end
          of fintech products and Full stack Web Applications that leads to the smooth integration of the
          banking products. Check out some of my work in the
          <strong>Projects</strong> section.
        </p>
        <p class="about__content-details-para">
          I also like sharing knowledge gained related to the stuff that I have learned
          over the years in <strong>Enterprise-level Web Development</strong> so it can help
          other people of the Dev Community. Feel free to Connect or Follow me
          on my
          <a
            rel="noreferrer"
            href="https://github.com/AayushShakyaZ"
            target="_blank"
            >Linkedin</a
          >
          where I post useful reference links related to Core Java, Spring ,Web Development and System Design
        </p>
        <p class="about__content-details-para">
          I'm open to <strong>Job</strong> opportunities where I can contribute,
          learn and grow. If you have a good opportunity that matches my skills
          and experience then don't hesitate to <strong>contact</strong> me.
        </p>
      </div>
      <div class="btn">
        <button mat-raised-button>Contact</button>
      </div>
    </div>
    <div class="about__content-skills">
      <h3 class="about__content-title">My Skills</h3>
      <div class="skills">
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/java.png"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/spring-boot.png" id="spring boot"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/Postgresql.png" id="postgres"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/angular.png" id="angular"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/github.png" id="github"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/docker.png" id="docker"></div>

        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/html.png" id="html"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/css.png" id="css"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/js.png" id="js"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/bootstrap.png" id="bootstrap"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/TypeScript.png" id="TypeScript"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/sql.png" id="SQL"></div>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="heading heading-sec heading-sec__mb-med">
    <span class="heading-sec__main">Work Experience</span>
    <span class="heading-sec__sub">
      A quick overview of my professional work experience.
    </span>
  </h2>
  <div class="experience__content">
    <div class="experience__item">
      <h3 class="experience__title">Nepal Clearing House limited - Kamaladi, Kathmandu</h3>
      <p class="experience__duration"> Full-Stack Java Developer | Jan 2024 - Present</p>
      <p class="experience__description">
        I worked on building and maintaining fintech products. Developed and optimized both the front-end and back-end systems using Java, Spring Boot, and Angular.
        Improved system performance and integrated APIs from scratch for a project named Card Center Management System(CCMS).
      </p>
    </div>

    <div class="experience__item">
      <h3 class="experience__title">Phoenix Solutions Pvt Ltd - Maitidevi, Kathmandu</h3>
      <p class="experience__duration"> Back-End Developer | Aug 2023 - Dec 2023</p>
      <p class="experience__description">
        Developed and maintained enterprise-level web applications for government university(NOU) using Core Java and PostgreSQL.
        Collaborated with cross-functional teams to design and implement high-performance APIs and system design. Handled
        overall development phase to develop registration procedures for student(admission, exam, course and scholarships)
      </p>
    </div>

    <div class="experience__item">
      <h3 class="experience__title">Code Himalaya - Kupondole, Lalitpur</h3>
      <p class="experience__duration"> Java Developer Intern | June 2023 - Aug 2023</p>
      <p class="experience__description">
        Assisted in developing Java-based applications and troubleshooting performance issues.
        Gained experience in working with Spring Boot to develop REST API's and various databases like PostgreSQL and NoSQL.

      </p>
    </div>
  </div>
</div>
