<div class="container">
  <div class="social-icons" *ngIf="isMobile">

    <div class="button">
      <a href="https://www.linkedin.com/in/aayushshakya/" target="_blank" class="button">
        <div class="icon"><i class="bx bxl-linkedin"></i></div>
        <span>Linkedin</span>
      </a>
    </div>
    <div class="button">
      <a href="https://github.com/AayushShakyaZ" target="_blank" class="button">
        <div class="icon"><i class="bx bxl-github"></i></div>
        <span>Github</span>
      </a>
    </div>

  </div>
  <div class="home">
      <h1 class="name" >Hey, I'm Aayush Shakya</h1>
    <div class="info">
      <p>
        A Full Stack Java developer based in Kathamndu, Nepal. Currently working
        in Nepal's biggest fintech company NCHL where I handle fintech web applications to
        ensure smooth transaction between banks, merchants and users.
      </p>
    </div>
    <div class="btn">
      <button mat-raised-button color="primary">Projects</button>
    </div>
  </div>
</div>
