<div class="container">
  <h2 class="heading heading-sec heading-sec__mb-bg">
    <span class="heading-sec__main">Projects</span>
    <span class="heading-sec__sub">
      Here you will find some of my personal as well as projects that I
      have worked associated to companies i have worked in.
    </span>
  </h2>

  <div class="projects__content">
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="./assets/img/ccms.jpeg"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Card Center Management System - CCMS</h3>
        <p class="projects__row-content-desc">
          CCMS is a trusted card management system provided to banks of Nepal where overall card lifecycle
          as well as charge took upon individual is controlled. This provides solution for
          credit cards, debit cards and prepaid cards. I was among one who worked in developing backend apis
          and frontend while developing this application from scratch. Integrated file export and import features
          for excel files and pki config for client facing apis.
        </p>
        <div class="btn">
          <button mat-raised-button>Live Link- Permission required</button>
        </div>
      </div>
    </div>
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="./assets/img/nou.jpeg"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Student Information Management System- SIMS</h3>
        <p class="projects__row-content-desc">
          SIMS is a Student management system provided to nepal open university than manages heavy data
          collected from all students indulged in the university. I created its initial backend apis from scratch
          using the java and helped in designing jasper reports using sql queries.
        </p>
        <div class="btn">
          <button mat-raised-button>
            <a href="https://finmart.ae"></a>Live Link- Permission required
          </button>
        </div>
      </div>
    </div>
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="./assets/img/nchlcentral.jpeg"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">NCHL Central</h3>
        <p class="projects__row-content-desc">
         Worked mainly on crud backend rest api and frontend for dispute management module,
          also implemented rest client to communicate with other nchl projects like (bank central,corporatePay and mms)
          for fetching bank users data.
        </p>
        <div class="btn">
          <button mat-raised-button>Live Link- Permission required</button>
        </div>
      </div>
    </div>
  </div>
</div>
